.container {
    width: 80px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bc6c25;
    margin: 0 5px;
}

.text {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 600;
}